 {% load static %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Báo Cáo Doanh Thu</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'app1/CSS/BaoCaoDoanhThu.css' %}" />
    <script src="{% static 'app1/JS/layout-customer.js' %}"></script>
  </head>
  <body>
    {% include 'app1/Header-user.html' %}
    {% include 'app1/Menu-manager.html' %}
    {% block content %}
      <div id="menu2-container"></div>
      <div class="container">
        <h1>Báo Cáo Doanh Thu</h1>


        <div class="select-container">
          <iframe title="Baocaodoanhthu" width="1000" height="500" src="https://app.powerbi.com/reportEmbed?reportId=36eac767-0cfe-4512-8d79-91bed1834995&autoAuth=true&embeddedDemo=true" frameborder="0" allowFullScreen="true"></iframe>
        </div>  
        
      </div>
    {% endblock %}
    {% include 'app1/Footer.html' %}
  </body>
</html> 
