{% load static %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đặt Sân Cầu Lông</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'app1/CSS/Styles-Book.css' %}" />
    <script src="{% static 'app1/js/layout-customer.js' %} "></script>
  </head>

  <body>
    {% include 'app1/Header-user.html' %}
    {% block content %}
      <form action="#" method="post" id="form-group">
        {% csrf_token %}
        <div class="container">
          <div class="form-group">
            <h1>Đặt Sân Cầu Lông</h1>
            <label for="scheduleType">Chọn loại lịch</label>
            <select id="scheduleType" required>
              <option value="fixed">Lịch cố định</option>
              <option value="flexible">Lịch linh hoạt</option>
              <option value="daily">Lịch ngày</option>
            </select>
          </div>
          <div class="form-group">
            <label for="date">Ngày</label>
            <input type="date" id="date" required />
          </div>
          {% comment %} <div class="form-group">
            <label for="time">Giờ</label>
            <input type="time" id="time" required />
          </div> {% endcomment %}
          <div class="form-group">
            <label for="start_time">Giờ bắt đầu:</label>
            <input type="time" name="start_time" id="start_time" required />
          </div>
          <div class="form-group">
            <label for="end_time">Giờ kết thúc:</label>
            <input type="time" name="end_time" id="end_time" required />
          </div>
          <button type="submit">Đặt Sân</button>

          {% comment %} <script src="{% static 'app1/js/Script-Book.js' %} "></script> {% endcomment %}
        </div>
      </form>
    {% endblock %}
    {% include 'app1/Footer.html' %}
  </body>
</html>
