{% load static %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Check-in</title>
    <link rel="stylesheet" href="{% static 'app1/CSS/Check-in.css' %}" />
    <script src="{% static 'app1/js/layout-customer.js' %}"></script>
  </head>

  <body>
    {% include 'app1/Header-customer.html' %}
    {% include 'app1/Menu-manager.html' %}
    {% block content %}
    <div id="menu2-container"></div>
    <div class="checkin-container">
      <h2>Check-in</h2>
      <form id="checkinForm">
        <label for="phone">Số điện thoại</label>
        <input
          type="text"
          id="phone"
          name="phone"
          placeholder="Nhập số điện thoại"
          required
        />

        <label for="name">Tên</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Nhập tên"
          required
        />

        <label for="bookingCode">Mã đặt lịch</label>
        <input
          type="text"
          id="bookingCode"
          name="bookingCode"
          placeholder="Nhập mã đặt lịch"
          required
        />

        <button type="submit">Check-in</button>
      </form>

      <div id="message" class="message"></div>
    </div>
    {% endblock %}
    {% include 'app1/Footer.html' %}
  </body>
</html>
