{% load static %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng ký tài khoản thanh toán</title>
    <link
      rel="stylesheet"
      href="{% static 'app1/CSS/DangKiTaiKhoanThanhToan.css' %}"
    />
    <script src="{% static 'app1/js/layout-customer.js' %}"></script>
  </head>

  <body>
    {% include 'app1/Header-customer.html' %} {% include
    'app1/Menu-manager.html' %} {% block content %}
    <div id="menu-container"></div>
    <div class="registration-container">
      <h2>Đăng ký tài khoản thanh toán</h2>
      <form id="registrationForm">
        <label for="accountHolder">Tên chủ tài khoản</label>
        <input
          type="text"
          id="accountHolder"
          name="accountHolder"
          placeholder="Nhập tên chủ tài khoản"
          required
        />

        <label for="accountNumber">Số tài khoản</label>
        <input
          type="text"
          id="accountNumber"
          name="accountNumber"
          placeholder="Nhập số tài khoản"
          required
        />

        <label for="paymentMethod">Phương thức thanh toán</label>
        <select id="paymentMethod" name="paymentMethod" required>
          <option value="">Chọn phương thức thanh toán</option>
          <option value="bank">Ngân hàng</option>
          <option value="momo">Momo</option>
        </select>

        <button type="submit">Xác nhận lưu</button>
      </form>

      <div id="message" class="message"></div>
    </div>
    {% endblock %} {% include 'app1/Footer.html' %}
  </body>
</html>
