{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký tài khoản thanh toán</title>
    <link rel="stylesheet" href="{% static 'app1/CSS/DangKiTaiKhoanThanhToan.css' %}"/>
    <script src="{% static 'app1/js/layout-customer.js' %}"></script>
</head>

<body>
    {% include 'app1/Header-user.html' %}
    {% include 'app1/Menu-manager.html' %}
    {% block content %}

    <!-- Hiển thị thông báo -->
    {% if messages %}
    <div id="message-box" class="message success show">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div id="menu-container"></div>
    <div class="registration-container">
        <h2>Đăng ký tài khoản thanh toán</h2>
        <form id="registrationForm" action="{% url 'DangKyTaiKhoanThanhToan' %}" method="post">
            {% csrf_token %}

            <!-- Tên Chủ Tài Khoản -->
            {{ Register_Payment_Account.accountHolder }}
            {% if Register_Payment_Account.accountHolder.errors %}
                <ul class="error-list">
                    {% for error in Register_Payment_Account.accountHolder.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- Số Tài Khoản -->
            {{ Register_Payment_Account.accountNumber }}
            {% if Register_Payment_Account.accountNumber.errors %}
                <ul class="error-list">
                    {% for error in Register_Payment_Account.accountNumber.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- Phương Thức Thanh Toán -->
            {{ Register_Payment_Account.paymentMethod }}

            <!-- Thêm dropdown chọn Court Manager -->
            <label for="court_manager">Chọn Court Manager</label>
            <select id="court_manager" name="court_manager" required>
                <option value="">-- Chọn Court Manager --</option>
                {% for manager in court_managers %}
                <option value="{{ manager.courtManager_id }}">{{ manager.user.username }}</option>

                {% endfor %}
            </select>
            
            <button type="submit">Xác nhận lưu</button>
        </form>
    </div>

    {% endblock %}
    {% include 'app1/Footer.html' %}
    <script src="{% static 'app1/js/Register_Payment_Account.js' %}"></script>
</body>
</html>
