{%load static%}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảng Giá Thuê Sân</title>
    <link rel="stylesheet" href="{% static 'app1/CSS/Fee.css' %}">
    <script src="{% static 'app1/js/layout-guest.js'%}" defer></script>
</head>

<body>

    {% include 'app1/Header-guest.html' %}
    {% include 'app1/Menu.html' %}
    {% block content %}
    <div class="container">
        <h1 class="title">BẢNG GIÁ THUÊ SÂN</h1>
        <table class="pricing-table">
            <thead>
                <tr>
                    <th>Thời Gian</th>
                    <th>Khung Giờ</th>
                    <th>Cố Định</th>
                    <th>Linh hoạt</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="3">Thứ 2 - 6</td>
                    <td>5h - 17h</td>
                    <td>60k</td>
                    <td>70k</td>
                </tr>
                <tr>
                    <td>17h - 22h</td>
                    <td>110k</td>
                    <td>120k</td>
                </tr>
                <tr>
                    <td>22h - 24h</td>
                    <td>60k</td>
                    <td>60k</td>
                </tr>
                <tr class="row-highlight">
                    <td rowspan="3">Thứ 7</td>
                    <td>5h - 17h</td>
                    <td>90k</td>
                    <td>100k</td>
                </tr>
                <tr class="row-highlight">
                    <td>17h - 22h</td>
                    <td>110k</td>
                    <td>120k</td>
                </tr>
                <tr class="row-highlight">
                    <td>22h - 24h</td>
                    <td>60k</td>
                    <td>60k</td>
                </tr>
                <tr>
                    <td rowspan="3">Chủ Nhật</td>
                    <td>Cả ngày</td>
                    <td>100k</td>
                    <td>120k</td>
                </tr>
            </tbody>
        </table>

        <div class="note">
            <strong>Lưu ý:</strong> Ưu đãi 50% chi phí trải nghiệm sân từ ngày 10/12/2024 đến hết ngày 15/12/2024. Các
            ưu đãi trên chỉ áp dụng khi đăng ký qua Hotline trước ngày 15/12/2024.
        </div>
    </div>
    {% endblock  %}
    {% include 'app1/Footer.html' %}

</body>

</html>