{% load static %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bảng Giá Thuê Sân</title>
    <link rel="stylesheet" href="{% static 'app1/CSS/Fee.css' %}" />
    <script src="{% static 'app1/js/layout-customer.js' %}" defer></script>
  </head>

  <body>
    {% include 'app1/Header-user.html' %}
    {% include 'app1/Menu.html' %}
    {% block content %}
      <div class="container">
        <h1 class="title">BẢNG GIÁ THUÊ SÂN</h1>
        <table class="pricing-table">
          <thead>
            <tr>
              <th>Thời Gian</th>
              <th>Khung Giờ</th>
              <th>Lịch cố định</th>
              <th>Lịch ngày</th>
              <th>Lịch linh hoạt</th>
            </tr>
          </thead>
          <tbody>
            {% for price in time_slots %}
              {% if forloop.counter0 == 0 or forloop.counter == 16 or forloop.counter == 19 %}
                <th rowspan="4">{{ price.day_of_week }}</th>
              {% endif %}
              {% if forloop.counter0 < 3 or forloop.counter > 15 %}
                {% if forloop.counter0 < 18 and forloop.counter > 15 %}
                  <tr class="row-highlight">
                    <td>{{ price.time_frame }}</td>
                    <td>{{ price.fixed_price|floatformat:0 }}.000 VND</td>
                    <td>{{ price.daily_price|floatformat:0 }}.000 VND</td>
                    <td>{{ price.flexible_price|floatformat:0 }}.000 VND</td>
                  </tr>
                {% else %}
                  <tr>
                    <td>{{ price.time_frame }}</td>
                    <td>{{ price.fixed_price|floatformat:0 }}.000 VND</td>
                    <td>{{ price.daily_price|floatformat:0 }}.000 VND</td>
                    <td>{{ price.flexible_price|floatformat:0 }}.000 VND</td>
                  </tr>
                {% endif %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>

        <div class="note">
          <strong>Lưu ý:</strong> Ưu đãi 50% chi phí trải nghiệm sân từ ngày 10/12/2024 đến hết ngày 15/12/2024. Các ưu đãi trên chỉ áp dụng khi đăng ký qua Hotline trước ngày 15/12/2024.
        </div>
      </div>
    {% endblock %}
    {% include 'app1/Footer.html' %}
  </body>
</html>
