{% load static %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" href="{% static 'app1/CSS/forgot_pass.css' %}" />
  </head>

  <body>
    <div class="login-form">
      <form action="{% url 'Forgot_password' %}" method="post">
        {% csrf_token %}
        <h1 class="login-title">Quên mật khẩu</h1>
        <p>Vui lòng nhập email của bạn để nhận mã xác nhận</p>
        <div class="input-box">
          <i class="bx bxs-envelope"></i>
          {{Forgot_Password_Form.username}} 

          {% if Forgot_Password_Form.username.errors %}
          <ul class="error-list">
            {% for error in Forgot_Password_Form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <button class="Login-btn">Gửi mã xác nhận</button>
      </form>
    </div>
  </body>
</html>
