<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lịch Sử Đặt Sân</title>
    <link rel="stylesheet" href="/project_Group6/website_DatSanCauLong/app1/static/app1/CSS/Menu.css">
    <link rel="stylesheet" href="/project_Group6/website_DatSanCauLong/app1/static/app1/CSS/LichSuDatSan.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <input type="checkbox" id="check" />
    <div class="overlay"></div>
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
    </label>
    <div class="side-bar">
      <ul>
        <li>
          <a href="/project_Group6/website_DatSanCauLong/app1/templates/app1/TrangChu1.html"><i class="fa-solid fa-house"></i> Trang Chủ</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-list"></i> Sân Cầu Lông</a>
          <div class="sub-menu">
            <a href="/project_Group6/website_DatSanCauLong/app1/templates/app1/San.html">Thông tin các sân</a>
          <a href="/project_Group6/website_DatSanCauLong/app1/templates/app1/LichSuDatSan.html">Lịch sử đặt sân</a>
          </div>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-money-check-dollar"></i>Giá vé</a>
        </li>
      </ul>
    </div>
    <header>
      <h2>Lịch Sử Đặt Sân</h2>
    </header>

    <div class="container">
      <div class="ticket">
        <h3>Sân 1</h3>
        <p class="date">Ngày Đặt: <span id="date-2">21/01/2025</span></p>
        <p class="address">Địa Chỉ: Đường XYZ, Quận ABC</p>
        <p class="hours">Giờ: 8:00 - 22:00</p>
        <p class="price">Giá Thuê: 100.000 VND/giờ</p>
        <div class="ticket-footer">
            <button class="cancel-btn">Hủy</button> <!-- Nút hủy -->
          </div>
      </div>

      <div class="ticket">
        <h3>Sân 2</h3>
        <p class="date">Ngày Đặt: <span id="date-2">15/01/2025</span></p>
        <p class="address">Địa Chỉ: Đường DEF, Quận GHI</p>
        <p class="hours">Giờ : 7:00 - 23:00</p>
        <p class="price">Giá Thuê: 120.000 VND/giờ</p>
        <div class="ticket-footer">
            <button class="cancel-btn">Hủy</button> <!-- Nút hủy -->
          </div>
      </div>
  </body>
</html>
