{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Time Slots</title>
    <link rel="stylesheet" href="{% static 'app1/css/style_time_slots.css' %}" />
  </head>
  <body>
    <h1>Manage Time Slots</h1>

    <!-- Form để thêm dữ liệu -->
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Add Time Slot</button>
    </form>
    <br />
    <br />
    <hr />

    <!-- Danh sách Time Slots hiện có -->
    <h2>Time Slots</h2>
    <table border="1">
      <tr>
        <th>Day</th>
        <th>Time Frame</th>
        <th>Fixed Price</th>
        <th>Daily Price</th>
        <th>Flexible Price</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      {% for slot in time_slots %}
        <tr>
          <td>{{ slot.day_of_week }}</td>
          <td>{{ slot.time_frame }}</td>
          <td>{{ slot.fixed_price }}</td>
          <td>{{ slot.daily_price }}</td>
          <td>{{ slot.flexible_price }}</td>
          <td>{{ slot.status }}</td>
          <td>
            {% if slot.template_id %}
              <a href="{% url 'delete_time_slot' slot.template_id %}">Delete</a>
            {% else %}
              <span>No ID</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
