{% load static %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>
    <link rel="stylesheet" href="{% static 'app1/CSS/Menu-manager.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  </head>
  <body>
    <input type="checkbox" id="check" />
    <div class="overlay"></div>
    <label for="check"><i class="fas fa-bars" id="btn"></i></label>
    <div class="side-bar">
      <ul>
        <li>
          <a href="{% url 'TrangChu' %}"><i class="fa-solid fa-house"></i> Trang Chủ</a>
        </li>
        {% if request.user.groups.all.0.name != 'Admin' %}
          <li>
            <a href="#"><i class="fa-solid fa-list"></i> Sân Cầu Lông</a>
            <div class="sub-menu">
              <a href="{% url 'San' %}">Thông tin các sân</a>

              {% if request.user.groups.all.0.name == 'Manager' or request.user.groups.all.0.name == 'Customer' %}
                <a href="{% url 'History' %}">Lịch sử đặt sân</a>
              {% endif %}
            </div>
          </li>
        {% endif %}
        {% if request.user.groups.all.0.name == 'Admin' %}
          <li>
            <a href="{% url 'Account_Management' %}"><i class="fa-solid fa-user"></i>Quản lý tài khoản</a>
          </li>
          <li>
            <a href="{% url 'them_san_moi' %}"><i class="fa-solid fa-user"></i>Thêm chi nhánh</a>
          </li>
        {% endif %}
        {% if request.user.groups.all.0.name == 'Court_staff' %}
          <li>
            <a href="{% url 'checkin' %}"><i class="fa-solid fa-check-to-slot"></i>Check-in</a>
          </li>
        {% endif %}
        {% if request.user.groups.all.0.name != 'Admin' %}
          <li>
            <a href="{% url 'price_list' %}"><i class="fa-solid fa-money-check-dollar"></i>Giá vé</a>
          </li>
        {% endif %}
        {% if request.user.groups.all.0.name == 'Manager' %}
          <li>
            <a href="#"><i class="fa-solid fa-list-check"></i>Quản lý sân</a>
            <div class="sub-menu">
              <a href="{% url 'manager_san' %}">Quản lý thông tin sân</a>
              <a href="{% url 'them_san' %}">Thêm sân</a>
              <a href="{% url 'DangKyTaiKhoanThanhToan' %}">Thêm tài khoản thanh toán</a>
            </div>
          </li>
          <li>
            <a href="{% url 'manage_time_slots' %}"><i class="fa-solid fa-money-check-dollar"></i>Quản lí giá vé</a>
          </li>
          <li>
            <a href="{% url 'lichThiDau' %}"><i class="fa-solid fa-calendar"></i>Quản lý lịch thi đấu</a>
          </li>
        {% endif %}
        {% if request.user.groups.all.0.name == 'Manager' or request.user.groups.all.0.name == 'Admin' %}
          <li>
            <a href="{% url 'bao_cao' %}"><i class="fa-solid fa-clipboard"></i>Báo cáo doanh thu</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </body>
</html>
