{% load static %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>
    <link rel="stylesheet" href="{% static 'app1/CSS/Menu-manager.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>


    <input type="checkbox" id="check" />
    <div class="overlay"></div>
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
    </label>
    <div class="side-bar">
      <ul>
        <li>
          <a href="#"
            ><i class="fa-solid fa-house"></i> Trang Chủ</a
          >
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-list"></i> Sân Cầu Lông</a>
          <div class="sub-menu">
            <a href="{% url 'San'%}">Thông tin các sân</a>
            <a href="#">Lịch sử đặt sân</a>
          </div>
        </li>
        <li>
          <a href="{% url 'price_list'%}"><i class="fa-solid fa-money-check-dollar"></i>Giá vé</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-check-to-slot"></i>Check-in</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-list-check"></i>Quản lý sân</a>
          <div class="sub-menu">
            <a href="{% url 'DangKyTaiKhoanThanhToan' %}">Thêm tài khoản thanh toán</a>
            <a href="#">Quản lý thông tin sân</a>
            <a href="#">Thêm sân mới</a>
          </div>
        </li>
        <li>
          <a href="#"
            ><i class="fa-solid fa-calendar"></i>Quản lý lịch thi đấu</a
          >
        </li>
        <li>
          <a href="{% url 'AddAccount_Manage'%}"><i class="fa-solid fa-user"></i>Quản lý tài khoản</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-clipboard"></i>Báo cáo doanh thu</a>
        </li>
      </ul>
    </div>
  </body>
</html>
