{% load static%}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'app1/CSS/new_pass.css'%}">
</head>

<body>
    <form action="#" class="password-form">
        {% csrf_token %}
        <h1 class="password-title">Cài đặt mật khẩu mới</h1>
        <div class="input-box">
            <i class="bx bxs-lock-alt"></i>
            <input type="password" id="new-password" placeholder="Nhập mật khẩu mới" />
            <span class="toggle-password" onclick="togglePasswordVisibility('new-password')">
                <i class="fas fa-eye" id="new-password-icon"></i>
            </span>
        </div>
        <div class="input-box">
            <i class="bx bxs-lock-alt"></i>
            <input type="password" id="confirm-password" placeholder="Nhập lại mật khẩu" />
            <span class="toggle-password" onclick="togglePasswordVisibility('confirm-password')">
                <i class="fas fa-eye" id="confirm-password-icon"></i>
            </span>
        </div>
        
        <button class="Password-btn">Hoàn tất</button>
        <script src="{% static 'app1/js/Script-icon.js'%}"></script>
    </form>
</body>

</html>