{% load static%}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quên mật khẩu</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'app1/CSS/new_pass.css'%}" />
  </head>

  <body>
    <form action="{% url 'New_Password'%}" class="password-form" method="post">
      {% csrf_token %}
      <h1 class="password-title">Cài đặt mật khẩu mới</h1>
      <div class="input-box">
        <i class="bx bxs-lock-alt"></i>
        {{New_Password_Form.new_password}}
        <span
          class="toggle-password"
          onclick="togglePasswordVisibility('id_new_password')"
        >
          <i class="fas fa-eye" id="new-password-icon"></i>
        </span>
      </div>
      <div class="input-box">
        <i class="bx bxs-lock-alt"></i> 
        {{New_Password_Form.confirm_new_password}} 
        {% if New_Password_Form.confirm_new_password.errors%}
        <ul class="error-list">
          {% for error in New_Password_Form.confirm_new_password.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <span
          class="toggle-password"
          onclick="togglePasswordVisibility('id_confirm_new_password')"
        >
          <i class="fas fa-eye" id="confirm-password-icon"></i>
        </span>
      </div>

      <button class="Password-btn">Hoàn tất</button>
      <script src="{% static 'app1/js/Script-icon.js'%}"></script>
    </form>
  </body>
</html>
