{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hóa đơn Thanh toán</title>
    <link rel="stylesheet" href="{% static 'app1/CSS/payment.css' %}" />
    <script src="{% static 'app1/js/layout-customer.js' %}"></script>
</head>
<body>
    {% include 'app1/Header-user.html' %}
    {% include menu %}
    {% block content %}
    {% if messages %}
    <div class="notification">
        {% for message in messages %}
            <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="invoice">
        <h2>Hóa đơn Thanh toán</h2>
        <div class="invoice-details">
            {% if user.is_authenticated %}
                <p><strong>Khách hàng:</strong> {{ user.username }}</p>
            {% endif %}
            <p><strong>Tên sân:</strong> {{ booking.court.name }}</p>
            <p><strong>Loại lịch:</strong> 
                {% if booking.booking_type == "fixed" %} Lịch cố định
                {% elif booking.booking_type == "daily" %} Lịch theo ngày
                {% elif booking.booking_type == "flexible" %} Lịch linh hoạt
                {% else %} Không xác định {% endif %}
            </p>
            <p><strong>Giờ:</strong> {{ booking.start_time|time:"H:i" }} - {{ booking.end_time|time:"H:i" }}</p>
            <p><strong>Ngày:</strong> {{ booking.date|date:"d/m/Y" }}</p>
            <p><strong>Địa điểm:</strong> {{ booking.court.badminton_hall }} - {{ booking.court.badminton_hall.address }}</p>
            <p><strong>Mã đặt lịch:</strong> {{ booking.booking_id }}</p>
            <p class="total">Tổng cộng: {{ amount|floatformat:3 }} VND</p>
        </div>

        <div class="payment-method">
            {% if payment_accounts %}
                <h3>Thông tin thanh toán</h3>
                {% for account in payment_accounts %}
                        <p><strong>Phương thức:</strong> {{ account.get_paymentMethod_display }}</p>
                        {% if account.paymentMethod == "momo" %}
                        <div class="bank-details momo">  
                            <p><strong>Số điện thoại:</strong> {{ account.phoneNumber }}</p>
                        </div>
                        {% else %}
                        <div class="bank-details bank">
                            <p><strong>Ngân hàng:</strong> {{ account.bankName }}</p>
                            <p><strong>Chủ tài khoản:</strong> {{ account.accountHolder }}</p>
                            <p><strong>Số tài khoản:</strong> {{ account.accountNumber }}</p>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <p>Chưa có thông tin thanh toán. Vui lòng cập nhật!</p>
            {% endif %}
        </div>

        <form method="POST" action="{% url 'payment' booking.booking_id booking.court_id%}">
            {% csrf_token %}
            <div class="button-container">
                <button type="button" class="btn" onclick="window.history.back();">Hủy</button>
                <button type="submit" class="btn btn-confirm">Xác nhận thanh toán</button>
            </div>
        </form>
    </div>
    {% endblock %}
    {% include 'app1/Footer.html' %}
</body>
</html>