{% load static %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Các sân cầu lông</title>
    <link rel="stylesheet" href="{% static 'app1/css/San.css' %}" />
  </head>

  <body>
    {% include 'app1/Header-user.html' %}
    {% include menu %}
    

    <div id="menu-container"></div>
    <div class="container">
      <!-- Full sân -->
      {% for court in courts %}
        <div class="court">
          <img src="{{ court.ImageURL }}" alt="{{ court.name }}" class="court-image" />
          <h3>{{ court.name }}</h3>
          <p>Địa chỉ: {{ court.badminton_hall.address }}</p>
          <p>Giờ hoạt động: 5:00 - 24:00</p>
          <p>Ngày: Thứ 2 - Chủ Nhật</p>
          {% if request.user.groups.all.0.name != 'Court_staff' %}
            <button class="book-btn"><a href="{% url 'booking' court_id=court.court_id %}">Đặt sân</a></button>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% include 'app1/Footer.html' %}
  </body>
</html>