{% load static %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thêm Chi Nhánh Mới</title>
    <link rel="stylesheet" href="{% static 'app1/CSS/ThemSanMoi.css' %}" />
    <script src="{% static 'app1/js/layout-customer.js' %}"></script>
  </head>

  <body>
    {% include 'app1/Header-customer.html' %} {% include
    'app1/Menu-manager.html' %} {% block content %}
    <div class="form-container">
      <h1>Thêm Chi Nhánh Mới</h1>

      <form id="addBranchForm" action="{% url 'them_san_moi' %}" method="POST">
        {% csrf_token %}

        <label for="name">Tên Chi Nhánh</label>
        <input
          type="text"
          id="name"
          name="name"
          required
          placeholder="Nhập tên chi nhánh"
        />

        <label for="address">Địa điểm</label>
        <input
          type="text"
          id="address"
          name="address"
          required
          placeholder="Nhập địa điểm"
        />

        <button type="submit">Xác Nhận</button>
      </form>

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    {% endblock %} {% include 'app1/Footer.html' %}
  </body>
</html>
