<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Sân Mới</title>
    <link rel="stylesheet" href="/project_Group6/website_DatSanCauLong/app1/static/app1/CSS/ThemSanMoi.css">
</head>
<body>
    <div id="menu2-container"></div>
<div class="form-container">
    <h1>Thêm Sân Mới</h1>
    <form id="addFieldForm">
        <label for="fieldName">Tên Sân</label>
        <input type="text" id="fieldName" name="fieldName" required placeholder="Nhập tên sân">

        <label for="location">Địa điểm</label>
        <input type="text" id="location" name="location" required placeholder="Nhập địa điểm">

        <button type="submit">Xác Nhận</button>
    </form>
    <div class="message" id="message"></div>
</div>
</body>
</html>
