{% load static %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thêm Sân</title>

    <link rel="stylesheet" href="{% static 'app1/CSS/ThemSanMoi.css' %}" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'app1/css/style_time_slots.css' %}"
    />

    <script src="{% static 'app1/js/layout-customer.js' %}"></script>
  </head>

  <body>
    {% include 'app1/Header-customer.html' %} {% include
    'app1/Menu-manager.html' %} {% block content %}
    <div class="form-container">
      <h1>Thêm Sân</h1>
      <form
        action="{% url 'them_san' %}"
        enctype="multipart/form-data"
        method="POST"
      >
        {% csrf_token %}
        <label for="address">Địa điểm</label>
        <select id="address" name="address">
          <option value selected></option>
          {% for hall in badminton_halls %}
          <option value="{{ hall.badminton_hall_id }}">
            {{ hall.address }}
          </option>
          {% endfor %}
        </select>

        <label for="name">Tên sân</label>
        <input
          type="text"
          id="name"
          name="name"
          required
          placeholder="Nhập tên sân"
        />

        <label for="image" alt="court">Thêm ảnh</label>
        <input type="file" id="image" name="image" placeholder="Chọn ảnh" />
        <button type="submit">Thêm sân</button>
      </form>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endblock %} {% include 'app1/Footer.html' %}
  </body>
</html>