{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Sân Mới</title>
    <link rel="stylesheet" href="{% static 'app1/CSS/ThemSanMoi.css' %}">
    <script src="{% static 'app1/js/layout-customer.js' %}"></script>
</head>

<body>
    {% include 'app1/Header-customer.html' %}
    {% include 'app1/Menu-manager.html' %}
    {% block content %}
<div class="form-container">
    <h1>Thêm Sân Mới</h1>
    <form id="addFieldForm">
        <label for="fieldName">Tên Sân</label>
        <input type="text" id="fieldName" name="fieldName" required placeholder="Nhập tên sân">

        <label for="location">Địa điểm</label>
        <input type="text" id="location" name="location" required placeholder="Nhập địa điểm">

        <button type="submit">Xác Nhận</button>
    </form>
    <div class="message" id="message"></div>
</div>
{% endblock %}
{% include 'app1/Footer.html' %}
</body>
</html>
