{% load static %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thông Tin Cá Nhân</title>
    <link rel="stylesheet" href="{% static 'app1/css/ThongTinCaNhan.css' %}" />
  </head>
  <body>
    {% include 'app1/Header-user.html' %}
    {% block content %}
    {% if messages %}
    <div id="message-box" class="message success show">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
      <div class="container">
        <h2>Thông Tin Cá Nhân</h2>
        <!-- View Mode -->
        <div id="info-view" class="info">
          <p>
            <strong>Tên:</strong> <span id="username">{{user.first_name}}</span>
          </p>
          <p>
            <strong>Ngày sinh:</strong> <span id="dob">{{customer.date_of_birth|date:"d/m/Y"}}</span>
          </p>
          <p>
            <strong>Email:</strong> <span id="email">{{user.username}}</span>
          </p>
          <a href="{% url 'ChinhSuaThongTinCaNhan' %}" class="button edit-button">Cập nhật thông tin</a>
        </div>
      </div>
    {% endblock %}
    {% include 'app1/Footer.html' %}
  </body>
</html>
