/* Đặt nền và kiểu chữ cho body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: black !important;
}

p {
    color: black !important;
    text-align: left;
    font-size: 1.1em;
    margin: 4px auto;
}

main {
    margin: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    color: black !important;
}

h2 {
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
    text-align: center;
}

.court-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.court-card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 350px;
    height: 400px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
    color: black !important;
    background-color: rgb(104, 202, 170);
}

.court-card:hover {
    transform: scale(1.05);
}

.court-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.court-card .status {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.1em;
}

.court-card .status.available {
    color: green;
}

.court-card .status.in-use {
    color: red;
}

.court-card .status.maintenance {
    color: orange;
}

.court-card .schedule-info {
    margin-top: 10px;
    font-weight: bold;
    font-size: 0.9em;
}

.court-card .schedule-info span {
    display: block;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

button {
    background-color: #14677e;
    color: white;
    padding: 10px 15px;
    margin: 5px 3px 0 0;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: background-color 0.2s;
    text-align: center;
}

button:hover {
    background-color: #ed5928;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
}

input[type="number"] {
    width: 90%;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select {
    width: 95%;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.hidden {
    display: none;
}

.add-court-btn {
    background-color: #17A2B8;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 48%; /* Đảm bảo nút không quá rộng */
    margin: 5px 1%; /* Khoảng cách giữa các nút */
    transition: background-color 0.3s;
}

.add-court-btn:hover {
    background-color: #138496;
}


.court-image {
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: 8px;
    /* Bo tròn các góc của hình ảnh */
    margin-bottom: 15px;
    transition: transform 0.3s ease, filter 0.3s ease;
    /* Thêm hiệu ứng cho zoom và hiệu ứng mờ */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Thêm bóng đổ nhẹ cho hình ảnh */
}

.modal {
    display: none;
    /* Ẩn mặc định */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Làm mờ nền */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin: 15px;
    color: rgb(80, 80, 80);
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

label {
    font-size: 1.1em;
    margin: 10px auto;
    font-weight: bold;
    text-align: left;
}
#message-box {
    position: fixed;       
    top: 0;                
    left: 0;               
    width: 100%;           
    background-color: #4CAF50;  
    color: rgb(0, 0, 0);        
    padding: 15px;         
    z-index: 9999;       
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}